<!DOCTYPE html>
<html>
<head>
    <title>Sport 2.0</title>
    <meta lang="eng">
    <meta charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" href="assets/css/reset.css">-->
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
    <!--<link rel="stylesheet" type="text/css" href="assets/css/print.css">-->
</head>
<body>

<main class="page-container">
    <section class="section-landing">
        <div id="svg-landing" class="svg-landing"></div>
        <h1 id="landing-base-line" class="landing-base-line">2.0 - 3.0</h1>
    </section>
    <div id="app">
    <section id="categories-container-parent" class="section-intro">
        <div class="section-intro-inner">
            <p class="section-intro-text"><b>Recent news about Sport Technology</b><br/>We watched the latest innovations about
                Sport from september 2016 to march 2017, with the objective of sharing what's going on in this domain,
                what it will become in the future and what people think about it.<br/>We divided the news in 5
                categories :</p>
            <transition-group name="categories-list" class="categories-container" id="categories-container" :class="fixedCategoriesClasses" tag="ul">
                <category-component v-for="(category, index) in categories" :category="category" :index="index" :key="category.index"></category-component>
            </transition-group>
        </div>
    </section>
    <section id="section-timeline" class="section-timeline">
        <div class="timeline-container">
            <div :in-viewport-offset-top="-300"  class="timeline-container-month" v-for="(articlesByMonth, index) in articles">
                <month-component :in-viewport-once="true" :month="articlesByMonth[0].date.month.name"></month-component>
                <article-component :in-viewport-offset-top="-200" :in-viewport-once='true' v-for="(article, index) in articlesByMonth" :index="index" :article="article"></article-component>
            </div>
        </div>
    </section>
    <section id="pos-end" class="section-intro">
        <div class="section-intro-inner">
            <p class="section-intro-text">The articles above illustrate one fact : the Sport Tech industry is in huge expansion.<br/><br/><b>Smart devices</b> are multiplying quickly, today there are plenty of connected objects that does more or less the same thing : <b>track your physical data</b> to help feeling better and improving oneself through a <b>mobile app</b>. Nevertheless, innovations appear almost every week and open doors to new usages and deeper functionalities, particulary in health and physical prevention systems.<br/><br/>
            Aside, the <b>Virtual Reality</b> market is still at its beginning because it just has hit the public market, but it will probably have an <b>important impact in many domains</b>, video games of course, but also real sports, art and entertainment.<br/><br/>
            On the other side, <b>e-sport</b> market is on fire ! Many <b>known entreprises</b> are currently investing in team sponsoring and gaming events, and it drains a lot of viewers and money. It's no wonder that e-sports will become <b>as important as traditionnal sports</b> in the future.<br/><br/>
            Finally, a new kind of sport and technology mix-up is also emerging, the <b>interactive experiences</b>. Interactive walls or Snapchat VIP tours, they combine virtual and physical worlds and offer an new approach of sport, more playful and interactive. Quite rare and experimental for the moment, it's hard to tell if it's going to expand or fade.<br/><br/><br/>
            Project made with sweat by Sandy, Antonin, Paul & Fred ✌️</p>
            <p class="sources">Sources : <br/>
            <a href="http://sporttechie.com/" target="_blank">sporttechie.com</a><br/>
            <a href="https://www.wareable.com/" target="_blank">wareable.com</a><br/>
            <a href="https://techcrunch.com/" target="_blank">techcrunch.com</a><br/>
            <a href="http://gadgetsandwearables.com/" target="_blank">gadgetsandwearables.com</a><br/>
            <a href="http://www.theverge.com/" target="_blank">theverge.com</a><br/>
            <a href="https://www.bloomberg.com/" target="_blank">bloomberg.com</a><br/>
            <a href="http://www.cyclingweekly.co.uk/" target="_blank">cyclingweekly.co.uk</a><br/>
            <a href="http://www.sportsillustrated.com/" target="_blank">sportsillustrated.com</a><br/>
            <a href="http://www.adweek.com/" target="_blank">adweek.com</a><br/>
            <a href="http://scoutee.co/" target="_blank">scoutee.co</a><br/>
            <a href="http://www.good4utah.com/" target="_blank">good4utah.com</a><br/>
            <a href="http://www.huffingtonpost.fr/" target="_blank">huffingtonpost.fr</a><br/>
            <a href="http://dailycampus.com/" target="_blank">dailycampus.com</a><br/>
            <a href="http://www.gamingintelligence.com/" target="_blank">gamingintelligence.com</a><br/>
            <a href="http://www.psg.fr/" target="_blank">psg.fr</a><br/></p>
        </div>
    </section>
    </div>
</main>

</body>
<script src="https://cdn.jsdelivr.net/vivus/0.4.0/vivus.min.js"></script>
<script src="database/parsed/timeline.js"></script>
<script src="assets/js/vendors.js"></script>
<script src="assets/js/main.min.js"></script>
</html>